.App {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-size: 75%;
}

.game {
  width: 640px;
  height: 360px;
}
.code-container {
  width: 640px;
  padding: 2%;
}

.hidden {
  visibility: hidden;
}

.prism-code {
  padding: 5px;
  text-align: left;
}
.result {
  background-color: white;
  display: default;
  flex-direction: default;
  align-items: inherit;
  text-align: left;
  min-height: default;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

h1,
h2,
h3,
h3 {
  margin: 0;
  padding: 0;
}
