.App {
  text-align: center;
  min-height: 100vh;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background-size: 75%;
}

.game {
  width: 626px;
  height: 352px;
}

